
/* reset */

body{
  margin: 0;
  padding: 0;
  background-color: #ABC4D1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* -webkit-transition: background-color 100ms linear; */
  /* -ms-transition: background-color 100ms linear; */
  /* transition: background-color 58ms linear; */
}

/* gameplay */

.top-container{
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* .main-title{
  display: flex;
  opacity: 1;
  transition: opacity 2.4s ease-in-out;
  -moz-transition: opacity 2.4s ease-in-out;
  -webkit-transition: opacity 2.4s ease-in-out;
  -o-transition: opacity 2.4s ease-in-out;
} */

.main-title{
  display: flex;
  justify-content: center;
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out; /* FF 4 */
  -webkit-transition: opacity 2s ease-in-out; /* Safari & Chrome */
  -o-transition: opacity 2s ease-in-out; /* Opera */
}

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 200px;
  font-weight: 400;
  color: #B8D0DD;
  z-index: 3;
}

.day-button{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 100px;
  z-index: 5;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
}

/* .day-button{
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 100px;
  margin-top: 15vh;
  z-index: 5;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: opacity 0.8s ease-in-out;
  -moz-transition: opacity 0.8s ease-in-out;
  -webkit-transition: opacity 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out;
} */

.button-switch{
  background-color: #ABC4D1;
  width: 42px;
  height: 42px;
  border-radius: 100px;
  display: flex;
  margin: 4px;
  z-index: 6;
  transition: margin-left 0.4s ease-in-out;
  -moz-transition: margin-left 0.4s ease-in-out; /* FF 4 */
  -webkit-transition: margin-left 0.4s ease-in-out; /* Safari & Chrome */
  -o-transition: margin-left 0.4s ease-in-out; /* Opera */
}

.video-container{
  height: 65vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#day-video{
  display: flex;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#crab-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#fish-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#jellyfish-video-day{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#sunset-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#rainbow-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#whale-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#night-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#jellyfish-video-night{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#fireflies-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

#sunrise-video{
  display: none;
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}


.click-zone-container{
  position: absolute;
  margin: auto;
  bottom: 0%;
  width: auto;
  height: auto;
  z-index: 4;
}

.earth-zone{
  margin: auto;
  /* border: solid; */
  /* border-color: black; */
  /* border-width: 3px; */
  /* border-radius: 10000px; */
  width: 150px;
  height: 70px;
  z-index: 4;
}

.water-zone{
  margin: auto;
  bottom: 0%;
  /* border: solid; */
  /* border-color: black; */
  /* border-width: 3px; */
  width: 360px;
  height: 330px;
  z-index: 4;
}

/* gameover */

/* badge won */

.info-card{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 485px;
  position: absolute;
  margin: auto;
  bottom: -0%;
  background: white;
  border-radius: 30px 30px 0px 0px;
  z-index: 7;
  box-shadow: -0px -0px 8px #BDBDBD;
  transition: bottom 0.4s ease-in-out;
  -moz-transition: bottom 0.4s ease-in-out; /* FF 4 */
  -webkit-transition: bottom 0.4s ease-in-out; /* Safari & Chrome */
  -o-transition: bottom 0.4s ease-in-out; /* Opera */
}

.badge-container{
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 0px;
  justify-content: center;
}

.badge-placeholder{
  margin: 8px;
  width: 70px;
  height: 70px;
  border: dashed;
  border-color: #D1D1D1;
  border-width: 1px;
  border-radius: 5000px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #D1D1D1;
  font-size: 20px;
}

img{
  max-width:100%;
  max-height:100%;
}

.text-card-container{
  margin: 0px 40px 20px 40px;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.button-containter{
  bottom: 0%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card-button{
  margin-top: 30px;
  width: 100%;
  bottom: 0%;
  background-color: #3e69de;
  /* background-color: #E8A94A; */
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  align-items: center;
}

.social-button{
  margin-top: 30px;
  width: 100%;
  bottom: 0%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.social-icon{
  width: 80px;
  height: auto;
}

#card-button{
  display: flex;
}

#whatsapp-button{
  display: none;
  width: auto;
  background-color: #11C856;
  display: flex;
  justify-content: center;
  align-items: center;
}

#facebook-button{
  display: none;
  width: auto;
  margin-left: 10px;
  background-color: #0078D7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#twitter-button{
  display: none;
  width: auto;
  margin-left: 10px;
  background-color: #1DA1F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instagram-button{
  display: none;
  width: auto;
  margin-left: 10px;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  display: flex;
  justify-content: center;
  align-items: center;
}

#replay-button{
  display: none;
  margin-left: 10px;
  background: #6E6E87;
  display: flex;
  justify-content: center;
  align-items: center;
}

#replay-button:hover{
  background: #5C5C70;
}

#replay-button:active{
  background: #49495A;
}

.card-button:hover{
  background-color: #2352D1;
  /* background-color: #E39726; */
}

.card-button:active{
  background-color: #1E44AE;
  /* background-color: #C7811A; */
}

/* dev */

.dev-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2%;
  left: 2%;
}
